<style>
  .search-button{
       display: inline-flex;
       align-items: center;
       color: white;
       background-color: #fe424d;
       border-radius: 12px;
       padding:0 0.1rem 0 0.1rem;
  }
</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/Listings"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav">
        <a class="nav-link" href="/Listings">Explore</a>
      </div>
      <div class="ms-5">
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn search-button" type="submit">
            <div class="search-button"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search</div></button>
        </form>
      </div>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/Listings/new">Airbnb your home</a>
          <%if(!currUser){%>
          <a class="nav-link "  href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
         <%  } %>
         <% if(currUser) {%>
          <a class="nav-link" href="/logout">logout</a>
          <% }%>
        </div>
      </div>
    </div>
  </nav>