<style>
     @media(max-width:460px){ 
      .explore{
             display:none;
          }
          .search-opn{
            width: 50%;
            height: 20%;
          }
     }
  
</style>
<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand me-0 ms-0" href="/Listings"><i class="fa-solid fa-compass"></i></a>
      <div class="navbar-nav explore">
        <a class="nav-link" href="/Listings">Explore</a>
      </div>
      <div class="search-opn">
        <form class="d-flex" role="search">
          <input class="form-control" style="font-size: 90%;" type="search" placeholder="Search" aria-label="Search">
          <button class="btn " type="submit">
            <div class="me-2"><i class="fa-solid fa-magnifying-glass"></i></div></button>
        </form>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/Listings/new">Add your place</a>
          <%if(!currUser){%>
          <a class="nav-link "  href="/signup"><b>SignUp</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
         <%  } %>
         <% if(currUser) {%>
          <a class="nav-link" href="/logout">logout</a>
          <% }%>
        </div>
      </div>
    </div>
  </nav>