<%layout("/layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col col-8 offset-2">
    <div class="alert alert-danger d-flex align-items-center" role="alert" style="display: flex;  justify-content:center;align-content:center; flex-wrap: wrap;">
        <div><%=message%></div>
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
</div> 
</div>
</div> 
</body>